# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Please add names of code owners here and tag the below
# Jayesh Nirve
# Bartek Pacia
# Isabel Coasta
* @Techno-Disaster @bartekpacia @isabelcosta

# Later we can add specific files codeowners to give us more 
# control over this for example assests manager will be tagged
# only when we have a change made in assets folder
# /assets/ @assets-manager
