gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
/.project
/.settings/org.eclipse.buildship.core.prefs
/app/.classpath
/app/.project
/app/.settings/org.eclipse.buildship.core.prefs
