name: Client build
on:
  push:
    paths:
      - '.github/workflows/**'
  pull_request:
    branches: [develop]
    paths:
      - '.github/workflows/**'
      - 'pubspec.yaml'
      - 'pubspec.lock'
      - 'lib/**'
      - 'ios/**'
      - 'android/**'
jobs:
  buildios:
    name: iOS build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - run: git clone https://github.com/flutter/flutter.git -b beta
      - run: echo "::add-path::$GITHUB_WORKSPACE/flutter/bin"
      - run: flutter pub get
      - run: flutter pub upgrade
        working-directory: ./
      - run: flutter build ios --no-codesign
  buildandroid:
    name: Android build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - run: git clone https://github.com/flutter/flutter.git -b beta
      - run: echo "::add-path::$GITHUB_WORKSPACE/flutter/bin"
      - run: flutter pub get
      - run: flutter pub upgrade
        working-directory: ./
      - run: flutter build appbundle
